body {
  margin: 30px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

input,
button,
select {
  width: 400px;
  height: 60px;
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding-bottom: 100px;
  padding-left: 25px;
  padding-top: 50px;
  border-radius: 10px;
  box-shadow: grey 0px 0px 12px;
  justify-content: center;
  align-items: center;
}

.principal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.card1 {
  box-shadow: grey 0px 0px 12px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 25px;
}

.lista {
  background-color: white;
  margin: 25 px;
  padding-bottom: 500px;
  box-shadow: grey 0px 0px 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
