body {
  margin: 30px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

input,
button,
select {
  width: 400px;
  height: 60px;
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.card1 {
  box-shadow: grey 0px 0px 12px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 25px;
}

.lista {
  background-color: white;
  padding-bottom: 350px;
  box-shadow: grey 0px 0px 12px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 900px;
  height: 350px;
  position: relative;
}

h1 {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  z-index: 10;
  padding: 12px;
  border-bottom: 2px solid #ccc;
}
